.healthbar-container {
    padding: 4em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-container {
    display: flex;
    justify-content: center;
}

#switchTheme {
    top: 0;
    right: 0;
    position: absolute;
    margin-top: 1em;
    margin-right: 1em;
}

.title {
    font-family: "04b_30";
    text-shadow: black;
    font-size: 7rem;
}